body {
  margin: 0;
  background: #20202b;
  padding: 100px 15px;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 640px;
  overflow-x: scroll;
}

* {
  box-sizing: border-box;
}